body{
	    margin-top: 0 !important;
    padding-top: 0 !important;
    min-height: 830px;
    max-height: 1472px;
    position: relative;
    z-index: 1;
    min-width: 1024px;
    height: 100%;
    background: #fff;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #333;
}

.navbar{
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHVQTFRFAAAA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F5YtmQAAAACd0Uk5TAAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8gISIjJCUmZiD6WAAAAdlJREFUeF7t3btuFEEQheFzunotGYkIERA4spn3fyeHiAgEEtsXB82s2eEJavR%2F0Wjyo75XWfHpw4MkSXNqCkA2lr2%2B%2Fvz63n15qpI0x5yTSAM52XaxJLVXf%2FkoaY6xQk2sgXy8Ql2KJf3wS5HG6HMMQg3kZNkuxVGKNLxJo48%2BxhxTpBrIx7JcXEqUKJI3zd77CjWLaiAle4U6Iixv6q33MfocTL%2BBlCy7OEqJqCFvs%2FV2m3%2BTaiAd6zb7rlHtrbc1VA%2Bm30BSa%2B%2B7RNSo4a21thbVTL%2BBnCy7rCV1rdXbtbXW%2B%2Bh%2Ft78BZLM2v6NE1Fov%2FrpC3Zl%2BA2l5H6lrrRe%2FXNu%2BqCbUQE57qGvsoW5t9D4H028gJculOKLUWuvFz%2B16O9NipAZSsm8nWpfq53ZlTQ3k9s%2BamlADZ0CogZMh1MDJEGrgZAg1cDL%2Fh5ojLSC1%2ByMtLp8A2R0un3BNFEjv%2FpooDzqA9O4fdPD0Esju8PSSIglAdsciCZQzArI7lDOat30yCg8CGe2FB1eovZcI7oMSwUBSq0TwWlQHxfyBEzgW86ftDpDase0ODfKA7A4N8mhlC2R318r2px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC') no-repeat 50% 50%, -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
 
	top: 83px;
margin: 0 auto;
position: relative;
display: block;
width: 980px;
border-radius: 4px;
box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
text-align: left;
z-index: 9998;
}

.navbar_ul{
	transition: width 0.3s ease-in-out 0s;
	z-index: 0;
	display: table;
float: left;
width: 845px;
zoom: 1;
table-layout: fixed;
position: relative;
margin: 0;
padding: 0;
}

ul {
    list-style: none outside;
}

a{
	color: #08c;
}

.height_36{
	height: 36px;
}

.t_d_none{
 text-decoration: none;
}

.width_full{
	width: 100%;
}

.width_auto{
	width: auto;
}

.d_block{
display: block;
}

.d_inline{
display: inline;
}

.navbar_ul_li{
  display: table-cell;
overflow: hidden;
}

.navbar_ul_li:hover{
    background: linear-gradient(rgb(51, 51, 51), rgba(0, 0, 0, .2));
}

.navbar_li_a{
	background: none;
float: none;
border-style: solid;
outline: none;
overflow: hidden;
text-indent: -9999px;
cursor: pointer;
-webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D') 0 2 0 1;
}

.first_a{
	border-width: 0 2px 0 0;
border-radius: 4px 0 0 4px;
}

.other_a{
border-width: 0 2px 0 1px;
}

.store span{
	background-image: url('images/globalnav_text.svg');
}
.navbar_li_span{
	
display: block;
height: 30px;
margin: 3px auto;
background: url('images/globalnav_text.png') no-repeat 50% 0px;
}

#apple a{
	background-position: 0 0;
}
#apple span{
	background-position: 50% 0;
}
#store span{
	background-position: 50% 14%;
}

#mac span{
	background-position: 50% 29%;
}
#ipod span{
	background-position: 50% 43%;
}

#iphone span{
	background-position: 50% 57%;
}

#ipad span{
	background-position: 50% 71%;
}

#itunes span{
	background-position: 50% 85.5%;
}

#support span{
	background-position: 50% 99.5%;
}

.search_container{
	-webkit-transition: width 0.3s ease-in-out;
	z-index: 0;
	position: absolute;
    top: 0;
    right: 0;
    width: 106px;
    padding: 8px 13px;
    background: none;
    border-width: 0 2px 0 1px;
    -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAADUlEQVQIHWP4r8YABgAJCwEmqyi5lgAAAABJRU5ErkJggg%3D%3D') 0 2 0 1;
}

.search_form{
	margin-top: 1px;
	-webkit-transition: background-color 0.3s, 0.3s;
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0, rgba(255, 255, 255, 0.2) 0 1px 0;
	position: relative;
    padding: 0;
    width: 100%;
    height: auto;
    background-image: none;
    background-color: rgba(255,255,255,.1);
    border-radius: 12px;
    border: 0 none;
    color: #fff;
    background: url('images/globalsearch_field.png') 0 0 no-repeat;
}

.no_margin{
	margin: 0;
}

.no_padding{
	padding: 0;
}

.d_none{
display: none;
}

.search_input{
	margin-bottom: -1px;
	z-index: 0;
	width: 100%;
    height: 19px;
    padding: 2px 18px 1px 22px;
    background-image: none;
    border-radius: 12px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #fff;
    background: none;
    border: 0 none;
}

.main_article{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 292px;
    left: 0;
    overflow: hidden;
}

.article_section{
	right: auto;
    left: 50%;
    margin-left: -720px;
    width: 1440px;
    background: url('images/your_verse_hero.jpg') 50% 100% no-repeat;
    background-size: 1440px 1315px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.article_a{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: transparent;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}

.article_header{
margin-top: -170px;
    padding: 50px 0;
    background: url('images/your_verse_scrim.png') 0 50% repeat-x;
    background-size: 25px 335px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}

.header_h1{
font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    margin: 0px 0px -9px 0px;
    padding: 0;
}

.header_h1_img{
display: block;
margin-right: auto;
    margin-left: auto;
}

.header_h2{
	margin: 0px 0px 27px 0px;
}

.header_div{
	position: relative;
    z-index: 10;
    height: 31px;
    overflow: hidden;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.header_div_a{
display: inline-block;
    height: 29px;
    margin: 0px 18px 25px;
}

.header_div_a_img{
	display: inline-block;
}

.aside{
	position: absolute;
    z-index: 1;
    bottom: 90px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.aside_ul{
	position: relative;
    z-index: 1;
    min-width: 1024px;
    width: 100%;
    max-width: 1440px;
    height: 200px;
    text-align: center;
    overflow: hidden;
    margin: 0px auto;
    padding: 0px;
}

.aside_ul_li{
	position: relative;
    z-index: 1;
    float: left;
    width: 25%;
    height: 200px;
    overflow: hidden;
    margin: 0px;
}

.aside_ul_li_a{
	position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

.aside_ul_li_a_img{
	position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -182px;
}

.hj{
	border-left: 2px solid rgb(255, 255, 255);
}

.l_li{
	margin-right: -0.3%;
    width: 25.3%;
}